environment:
  matrix:
    - PYTHON: "C:\\Python36"
    - PYTHON: "C:\\Python36-x64"
    - PYTHON: "C:\\Python37"
    - PYTHON: "C:\\Python37-x64"
    - PYTHON: "C:\\Python38"
    - PYTHON: "C:\\Python38-x64"

install:
  - "%PYTHON%\\python.exe -m pip install -r testing-requirements.txt"
  - "%PYTHON%\\python.exe -m pip install ."

build: off

test_script:
  - "%PYTHON%\\python.exe -m pytest --cov ."
  - "%PYTHON%\\python.exe -m sauber --duplicates --duplicate-files --duplicate-directories --duplicate-music --duplicate-videos --duplicate-images --duplicate-documents test_data"